@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------------------------------------- */

.video-container {
  max-width: 100%;
  margin: 0 auto;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --------------------------------------------------- */
.hero-gradient-text {
  background: linear-gradient(
    137deg,
    #caff59 9.07%,
    #79ffa8 46.25%,
    #39ffe6 78.36%,
    #21ffff 93.57%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-gradient-text {
  background: linear-gradient(
    136deg,
    #59d3ff 8.2%,
    #70d8df 19.8%,
    #bceb79 58.19%,
    #ecf639 84.98%,
    #fffb21 97.47%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-gradient-text {
  background: linear-gradient(
    136deg,
    #59d3ff 8.2%,
    #70d8df 19.8%,
    #bceb79 58.19%,
    #ecf639 84.98%,
    #fffb21 97.47%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#leaderboard tr:nth-child(even) {
 @apply bg-[#18181B]
}

#leaderboard tr:hover {
 @apply bg-[#2a2a2fdb]
}

th, td {
  @apply py-[1.31rem] px-3 md:px-10
}

th:first-child{
  @apply md:pr-16
}


/* LEADERBOARD TABLE SCROLLBAR */
/* width */
#leaderboard ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#leaderboard ::-webkit-scrollbar-track {
  background: #585656;
}

/* Handle */
#leaderboard ::-webkit-scrollbar-thumb {
  background: #1d1c20;
}

/* Handle on hover */
#leaderboard ::-webkit-scrollbar-thumb:hover {
  background: #26272b;
}

.table-loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #98A2B3; /* Blue */
  border-radius: 50%;
  @apply w-16 h-16 mx-auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}